.card{
    /* box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    border-radius: 5px; */
    position: sticky;
    /* top:40px; */
    overflow-y: scroll;
    height: 74vh;
}
.sticky{
    position: sticky;
    position: -webkit-sticky;
    top: 40px;
}