.stickyFooter{
    position: sticky;
    bottom: 0;
    z-index: 1;
    background-color: white;
    width: 100%;
    border: white;
}
.linkContainers{
    background-color: #60042E;
    text-align: center;
    padding: 15px 0em;
}
a.footerLinks{
    color: white;
    font-weight: bold;
    font-size: 12px;
}

div.stickyFooter > div.linkContainers{
    margin-top: 0;
}

div#aboutUs + div.stickyFooter{
        position: fixed;
        bottom: 0;
        z-index: 1;
        background-color: white;
        width: 100%;
        border: white;
}