.rightCol{
    text-align: right;
}
.locationTitle{
    color: #b50936;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
hr {
    border: 0;
    clear:both;
    display:block;
    width:100%;               
    background-color: #B8B8B8;
    
    height: 1px;
    margin: 1em auto;
  }
.locationSubTitle{
    font-weight: 600;
    font-size: 16px;
    color: #000000; 
    margin-top: .5em;
}
.phoneNumber{
    margin-top: .75em
}
.address, .phoneNumber, .hours{
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

.days{
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}
.location{
    text-align: center;
}
.southcenter{
    margin: 1em;
}